@media only screen and (max-width: 600px) {
    .box {
        max-width: 75%;
        margin-left: 10%;
    }

    .info h5 {
        margin-top: -2%;
        margin-left: 30%;
    }

    .info p {
        margin-left: 5%;
        max-width: 90%;
    }

    .stars {
        margin-left: 33%;
    }

    .imagesReview {
        margin-top: -8%;
        margin-left: 13%;
    }

    .comments {
        max-width: 95%;
    }

    .select {
        margin-left: 7%;
    }
      
    .select2 {
        margin-left: 22.5%;
    }
}
