.navbar {
  background: linear-gradient(#607DC8, #E0E5F4); 
  box-shadow: 0 1px 4px 0 black;
}

body {
  background: linear-gradient(#607DC8, #E0E5F4); 
}

.col-lg-4{
  font-size: large;
}

.navbar-brand {
  color: black;
  font-size: 30px;    
  font-family: 'Sigmar One', cursive;
  margin-left: 7%;
}

.navbar-brand:hover {
  color: black;
}

.navbar-icon {
  margin-right: 10%;
}

.form-control {
  margin-top: 2%;
  width: 25%;
}

.rectangulo {
  padding: 3%;
  margin-top: 3%;
  background-color: white;
  border: solid 1px black;
  border-radius: 5px;
  height: 400px;
  width: 75%;
}

.carousel-caption {
  color: black;
  background-color: white;
  border-radius: 5px;
}

.search {
  display: flex;
  justify-content: center;
}

.search input {
  width: 50%;
  border-radius: 5px;
}

.search a {
  margin-left: 1%;
  margin-top: 2.3%;
}

.images {
  margin-top: 5%;
  display: flex;
  justify-content: space-around;
}

.imagesIndex img {
  border-radius: 10px;
  border: 2px solid black;
}

.wrapper {
  margin-top: 5%;
  justify-content: center;
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-gap: 10px;
  color: #444;
  margin-bottom: 5%;
}

.box {
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 150%;
}

.box img {
  border-radius: 5px;
}

.box a {
  text-decoration: none;
  color: #444;
}

.back {
  margin-left: 3%;
  margin-top: 2%;
}

.carousel-inner {
  border-radius: 10px;
}

.carousel-inner img {
  border-radius: 10px;
}

.hotels {
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
  background-color: white;
  text-align: left;
  margin-top: 3%;
  margin-left: -2%;
  padding-left: 2%;
}

.hotels a {
  text-decoration: none;
  color: black;
}

.hotels img {
  margin-left: 55%;
}

.restaurants {
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
  background-color: white;
  text-align: left;
  margin-top: 3%;
  margin-left: 2%;
  padding-left: 2%;
}

.restaurants a {
  text-decoration: none;
  color: black;
}

.restaurants img {
  margin-left: 40%;
}

footer {
  margin-top: 10%;
}

.footerlist{
  color: black;
  
}

.searchHotels {
  margin-top: 2%;
}

.date {
  text-align: center;
  border-radius: 10px;
}

.guests {
  width: 25%;
  border-radius: 10px;
}

#guests {
  width: 7em;
}

.searchRestaurants {
  margin-top: 2%;
}

.info {
  margin-top: -2.5%;
}

.vl {
  border-right: 1px solid black;
  height: 100%;
}

.comments {
  margin-top: 10%;
}

.column1 {
  width: 25%;
  text-align: center;
  margin-top: 3%;
}

.column2 {
  width: 75%;
  text-align: justify;
}
